@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Outfit", sans-serif;
  
  --color-brand-blue: #0f172a;
  --color-brand-orange: #f97316;
  --color-brand-yellow: #fbbf24;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
